html {
  width: 100%;
  color: brown;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* font */
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.firstpic {
  height: 360px;
  border-radius: 40px;
}

.secondpic {
  height: 240px;
  border-radius: 40px;
}

img {  
  
}
